target/
tpcds-data/
spark-warehouse/
.bsp/
.idea/
lib*/
metastore_db/
dag-gen/
derby.log
parquet-to-csv.scala
server-log/
tpcds-csv/
venv/
*.log
error_analysis/
flink-exceptions.txt
tpcds-csv.zip
coverage-dumps/
coverage-report*/
jacoco-*/
results/potential-bugs/interesting-mismatches/
*.exec
plot-jacoco-coverage.py
*.png
*.csv
*.excluded
coverage-plotting-runs/
cluster-results/
dask-server-log/
.graphs/
replay/
.scala-build/
tpcds-csv-*pc/
tpcds-data-*pc/
tpcds5pc.zip
tf-server-log/
.logs/
bug-repo/
playground/
oracle-servers/polars-oracle-server/basic-json-server-saved.py
oracle-servers/polars-oracle-server/test.py
oracle-servers/polars-oracle-server/test2.py
oracle-servers/polars-oracle-server/test3.py
oracle-servers/polars-oracle-server/test4-timeout-diagnosis.py
udf-gen.py