target/
tpcds-data/
spark-warehouse/
.bsp/
.idea/
lib*/
metastore_db/
dag-gen/
derby.log
parquet-to-csv.scala
server-log/
tpcds-csv/
venv/
*.log
error_analysis/
flink-exceptions.txt
tpcds-csv.zip
coverage-dumps/
coverage-report*/
jacoco-*/
results/potential-bugs/interesting-mismatches/
*.exec
plot-jacoco-coverage.py
*.png
*.csv
*.excluded
coverage-plotting-runs/
cluster-results/
dask-server-log/